body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #b47051, #c94b2c);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }
   
   .container {
    background: rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 50px;
    width: 300px;
    text-align: center;
    backdrop-filter: blur(10px);
   }
   
   input {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
   }
   
   button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #e0c133;
    color: white;
    font-weight: bold;
    cursor: pointer;
   }
   
   ul {
    list-style: none;
    padding: 0;
   }
   
   li {
    background: rgba(255,255,255,0.2);
    margin-top: 5px;
    padding: 8px;
    border-radius: 6px;
   }
   